
// Font imports
@font-face {
  font-family: 'alagard';
  src: url('../fonts/alagard.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'monaco';
  src: url('../fonts/monaco.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono-Light.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
