
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


// Font mixins
@mixin roboto-regular {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

@mixin roboto-condensed {
  font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

@mixin roboto-light {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}


@mixin robotomono-light {
  font-family: 'RobotoMono', -apple-system, monospace;
  font-weight: 300;
  -webkit-font-smoothing: none;
}


// Font imports
@font-face {
  font-family: 'alagard';
  src: url('../fonts/alagard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monaco';
  src: url('../fonts/monaco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

// TODO: https://stackoverflow.com/questions/12562631/web-fonts-and-providing-fallback-fonts
